<div>
  <%= form.label :address %>
  <%= form.text_field :address%>
</div>

<div>
  <%= form.label :city %>
  <%= form.text_field :city%>
</div>

<div>
  <%= form.label :latitude %>
  <%= form.text_field :latitude%>
</div>

<div>
  <%= form.label :longitude %>
  <%= form.text_field :longitude%>
</div>
